<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.order.mapper.OrderInfoMapper">

    <!--
         void updateOrderStatus(
            @Param("orderId") Long orderId,
            @Param("orderStatus") String orderStatus,
            @Param("processStatus") String processStatus);
     -->
    <update id="updateOrderStatus">
        update order_info set order_status=#{orderStatus},process_status=#{processStatus}
        where id=#{orderId}
    </update>


</mapper>